#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.filter-logo-white {
  filter: invert(1) brightness(6) hue-rotate(180deg);
}

.logo {
  height: 5.5em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.nodejs:hover {
  filter: drop-shadow(0 0 2em #83ed38);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.weight-track-0 {
  background: lightgreen; 
  height: 8px;
}

.weight-track-1 {
  background-color: #b8b8b8; 
  height: 8px;
}